header {
    width: 100%;
    max-width: 1140px;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;

    .logo{
        font-size: 30px;
        font-weight: 900;
    }
}