.home-page{
    display: flex;
    justify-content: space-between;

    .button-logout{
        position: relative;
        cursor: pointer;
        border: none;
        padding: 0px;
        background: none;
        font-size: 15px;
        color: #000;
        outline-style: none;

        img{
            position: absolute;
            max-width: 20px;
            margin-left: 5px;
            right: 0;
            left: -28px;
            top: -1px;
        }
    }
}