@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@200;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Spartan", sans-serif;
}

html,
body {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
}

form {
    width: 300px;
    display: grid;
}

input {
    outline: none;
    border: 0;
    height: 60px;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}

button {
    cursor: pointer;
    background: none;
    border: 1px solid #ccc;
    padding: 20px;
}

.login {
    justify-content: center;
    align-items: center;
    display: grid;
}

.register {
    justify-content: center;
    align-items: center;
    display: grid;
}
